.wrapper {
  position: relative; /* Contains the absolute positioning */
  box-shadow: inset 0 0 4rem 4.5rem var(--color-background);
}
.banner{
    position: relative;
    color: white;
    height: 70vh;
    margin: 0%;
    object-fit: contain;
}
.Bwrapper{
    height: 72vh;
}
.BannerComponents{
    position: relative;
    top: 55%;
    left: 10vmax;
   
}
.BannerTitle{
 font-size: 3rem;
 font-weight: 700;
 padding-bottom: 0.3rem;
 margin:0;
}
.BannerDescription{
    width: 45rem;
    padding-top:1rem;
    line-height: 1.3rem;
    font-size: 0.8rem;
    margin:0%;
    max-width: 360px;
}
.ButtonSection{
    display: flex;
    gap: 2rem;
}
.ButtonBanner{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor:pointer;
    color: white;
    outline: none;
    border: none;
    font-weight:700;
    border-radius: 0.2vw;
    padding: .7rem 2rem; 
    background-color: rgb(51,51,51,0.55);   
}

.play{
    color: #111;
    background-color: whitesmoke;
}
.play:hover{
    color: white !important;
    fill: white;
    background-color: rgb(51,51,51,0.5) !important;
}
.ButtonBanner:hover {
    color: black;
    background-color: whitesmoke;
    transition: all 0.2s ease-in    ;
}
.tmdb_logo{
    height: 2vh;
    width: 4.5vw;
    position: absolute;
    right: 2%;
    filter: drop-shadow(0 0 3px black);
}
.fade_bottom{
    position: relative;
    height:2rem;
    margin-top:-0.5rem;
    background-image:linear-gradient(180deg,transparent,rgba(37, 37, 37, 0.7),#111);
}

@media  (max-width:550px) {
    .wrapper{
        height: 55vh;
    }
    .banner{
        position: relative;
        height: 50vh;
        border-radius: 1rem;
    }
    .Bwrapper{
        height: fit-content;
        margin: 4vh 10vw;
        border-radius: 1rem;
        margin-top: 8vh;
        outline: 1px solid rgba(255, 255, 255, 0.5); 
    }
    .mobile_ButtonGenre{
        position: absolute;
        width: 100%;
        bottom: 0%;
        border: none white;
        backdrop-filter: blur(2px);
        padding-bottom: 2vh;
        border-radius: 0 0 1rem 1rem;   
    }
canvas {
  position: absolute;
  top: 0;
  left: 0;
  scale:1;
  width: 100%;
  height: 100%;
  opacity: 0.4; /* Subtle transparency */
}
    .ButtonSection{
        position: relative;
        display: flex;
        gap:2vw;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: -1vh;
    }
    .ButtonBanner{
     height: 3.5vh;
     padding: 0 8vw;
     font-size: 0.75em;
     border-radius: 0.4em;
    }
    .genreSection{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        font-size: 0.75em;
        list-style-position: inside;
        justify-content: center;
    }
    .genre{
        margin: 0 2em 0 -1em;
        filter: drop-shadow(0px 0px 3px black); 
    }
    .genre:first-child{
        list-style: none;
        margin-right: 2em !important;
    }
    
}